/.metadata/
*/Debug/*
*/*.launch
*/*.cfg
**/Debug*/*
**/Debug*/

**/.settings
# **/.cproject
#**/.mxproject
#**/.project

/controlador_ejemplo_01/
/controlador_ejemplo_02/
/controlador_ejemplo_03/
/controlador_ejemplo_04/

/f407_grupo_2_tp_1/
/f407_grupo_2_tp_2/
**/app_jez/
**/app_jez/*
**/app_mar/
**/app_mar/*
**/app_vic/
**/app_vic/*
**/app_controlador_ejemplo_01/
**/app_controlador_ejemplo_01/*
**/app_controlador_ejemplo_02/
**/app_controlador_ejemplo_02/*
**/app_controlador_ejemplo_03/
**/app_controlador_ejemplo_03/*
**/app_controlador_ejemplo_04/
**/app_controlador_ejemplo_04/*

/f407_grupo_2_tp_3/.cproject
/f407_grupo_2_tp_3/.mxproject
/f407_grupo_2_tp_3/.project

